.guitar {
	padding: 2px 1px;
	border: 1px solid #ddd;
	border-top-width: 4px;
	&.color0 { border-top-color: #36a2eb; }
	&.color1 { border-top-color: #ff6384; }
	&.color2 { border-top-color: #ff9f40; }
	&.color3 { border-top-color: #ffcd56; }
	&.color4 { border-top-color: #4bc0c0; }
	&.color5 { border-top-color: #9966ff; }
	&.color6 { border-top-color: #c9cbcf; }

	& > div {
		padding: 3px 6px;
	}

	.topRow {
		display: flex;
		gap: 6px;
		align-items: baseline;
		justify-content: space-between;

		.name {
			font-size: 115%;
		}
		.btns {
			display: flex;
			gap: 6px;
		}
	}
	.tuningSumRow {
		display: flex;
		justify-content: space-between;
		padding-right: 9px;
	}
	.stringRow {
		display: grid;
		grid-template-columns: repeat(4, auto);
	}
}
