.elem {
	margin: 2px 3px;

	&.name {
		width: 26px;
	}

	&.yesModif {
		padding: 1px;
		border: 1px solid red;
	}
	&.notModif {
		padding: 1px;
		border: 1px solid white;
	}

	.tension {
		width: 3.5em;
		text-align: right;
	}
}
